@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
.sss {
    background: red;
}
h1 {
    font-size: 200px;
    color: red;
}
* {
    border: 30px solid red;
}